@{
    Layout = "/Views/Shared/_Layout_app.cshtml";
    ViewData["Title"] = "Home Page";
}

<body aurelia-app="main">
  <script src="scripts/vendor-bundle.js" data-main="aurelia-bootstrapper"></script>
</body>
